/* Add your CSS to this file */
header {
    font-size: 18px;
}

nav ul {
    display: flex;
    position: sticky;
    gap: 30px;
    padding: 20px;
    font-weight: 800;
    font-color: black;
    list-style: none;
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.overview-hero-text {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  font-size: 20px;
}