header {
    font-size: 18px;
}

nav ul {
    display: flex;
    position: sticky;
    gap: 30px;
    padding: 20px;
    font-weight: 800;
    font-color: black;
    list-style: none;
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.overview-hero {
  padding: 30px;
  text-align: center;
  background: #e1e8f0;
  font-size: 20px;
}

.newsletter {
  padding: 60px;
  text-align: center;
  background: #48bb78;
  color: white;
  font-size: 20px;
}

.testing-desciption{
  padding: 20px 60px;
  text-align: left;
  background: #4a5567;
  color: white;
  font-size: 18px;
  font-weight: 200;
}
.testing {
  background: #4a5567;
  padding: 10px 32px;
}

.btn {
  background-color: #5a67d9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

footer {
  background: #4a5567;
  color: white;
  padding: 15px;
}

.stories {
  color: #5a67d9;
}

.article-body{
  color: #000000;
}

img {
   border-radius: 25%;
}